<div class="jumbotron homeContainer" ng-click="vm.Go('root.home');">
<h1><span>i<i class="fa fa-heart text-white"></i>RemoteWork</span></h1>
    <h1>Contact</h1>
</div>
<div class="container">
    <div class="row visible-sm-block visible-md-block visible-lg-block">
        <div class="col-sm-12 text-center">
            <div style="margin-bottom:20px; font-size:16pt;">
                <h2>You can contact us in many different ways!</h2>
                <h3>We'll get back to you in less than an hour!</h3>
            </div>
        </div>
    </div>
    <div class="row visible-xs-block">
        <div class="col-sm-12 text-center">
            <div style="margin-bottom:20px; font-size:16pt;">
                <h3>You can contact us in many different ways!</h3>
                <h4>We'll get back to you in less than an hour!</h4>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="contact-box">
                <a href="mailto:iheartremotework@outlook.com">
                    <div class="text">
                        <h4 style="">iheartremotework@outlook.com</h4>
                    </div>
                    <div style="text-align:center;">
                        <i style="font-size:5em;color:black;" class="fa fa-envelope-o fa-6" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <br />
        </div>
        <div class="col-md-4">
            <div class="contact-box">
                <a target="_blank" href="https://twitter.com/iheartremotewk">
                    <div class="text">
                        <h4 style="">@iHeartRemoteWk</h4>
                    </div>
                    <div style="text-align:center;padding-top:8px;">
                        <img style="" src="/Content/images/TwitterIcon.png" />
                    </div>
                </a>
            </div>
            <br />
        </div>
        <div class="col-md-4">
            <div class="contact-box">
                <a target="_blank" href="http://jtconnectsoftware.com/">
                    <div class="text">
                        <h4 style="">JTConnectSoftware</h4>
                    </div>
                    <div style="text-align:center;">
                        <i style="font-size:5em;color:#ead61c" class="fa fa-bolt" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <br />
        </div>
        <div class="row">
          <div class="col-md-4"></div>

          <div class="col-md-4">
            <div class="about-us" ng-click="vm.Go('root.appLayout.about');">
              <br/>
              <h2 style="padding-bottom:60px;">Get to Know Us!</h2>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
