<div class="contact-us" ng-click="vm.Go('root.appLayout.contact');">
    <h4>Contact Us</h4>
</div>

<div class="jumbotron homeContainer">
    <h1><span>i<i class="fa fa-heart text-white"></i>RemoteWork</span></h1>

    <h1>Let us Find the Jobs</h1>

    <p>& <span class="">You</span> the perfect match.</p>
</div>

<div class="container">
    <div class="row visible-sm-block visible-md-block visible-lg-block">
        <div class="col-sm-12 text-center">
            <div style="margin-bottom:20px; font-size:16pt;">
                <span class="text-bold">iHeart Remote Work</span> is the most efficient way for
                finding remote Jobs. <br/>Find the most qualified professionals from around the world!
                <br/><span class="text-bold">No</span> accounts. <span class="text-bold">No</span> hassle. <span class="text-bold">Just</span> Jobs.
            </div>
        </div>
    </div>
    <div class="row visible-xs-block">
        <div class="col-sm-12">
            <div style="margin-bottom:20px; font-size:16pt;">
                <span class="text-bold">iHeart Remote Work</span> is the most efficient way for
                finding remote Jobs. <br/>Find the most qualified professionals from around the world!
                <br/><span class="text-bold">No</span> accounts. <span class="text-bold">No</span> hassle. <span class="text-bold">Just</span> Jobs.
            </div>
        </div>
    </div>


    <div class="row pTop-15">
        <div class="col-sm-12">
            <div class="jobLabel" ng-click="vm.NavigateTo('root.appLayout.createJob.postAJob')">POST A JOB: $100 for 35 days</div>
        </div>
    </div>

    <div class="row pTop-5 mBottom10">
        <div class="col-sm-12">
            <input ng-model="vm.searchText" type="text" class="form-control" placeholder="Search: ex. 'Node.js', 'javascript', 'Marketing' ">
        </div>
    </div>

    <div class="apply mBottom10">
        <job-grid jobs="vm.programming" text="vm.searchText" title="'PROGRAMMING JOBS'"></job-grid>
    </div>
    <div class="apply mBottom10">
        <job-grid jobs="vm.design" text="vm.searchText" title="'DESIGN JOBS'" ></job-grid>
    </div>
    <div class="apply mBottom10">
        <job-grid jobs="vm.devOpsSysadmin" text="vm.searchText" title="'DEVOPS & SYSADMIN JOBS'"></job-grid>
    </div>
    <div class="apply mBottom10">
        <job-grid jobs="vm.customerSupport" text="vm.searchText" title="'CUSTOMER SUPPORT JOBS'"></job-grid>
    </div>
    <div class="apply mBottom10">
        <job-grid jobs="vm.copyWriting" text="vm.searchText" title="'COPY WRITING JOBS'"></job-grid>
    </div>

</div>




