<div class="jumbotron homeContainer">
    <h1><span class="text-bold">i<i style="color:white;" class="fa fa-heart"></i>RemoteWork</span></h1>

    <h1>Let us Find the Jobs</h1>

    <p>& <span class="text-bold">You</span> the perfect match.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div style="margin-bottom:20px; font-size:16pt;">
                <b>i<i style="color:#1aa3ff;" class="fa fa-heart"></i>RemoteWork</b> is the simpliest most efficient way of
                finding remote Jobs. <br/>Find the most qualified professionals from around the world!
                <br/><span class="text-bold">No</span> accounts. <span class="text-bold">No</span> hassle. <span class="text-bold">Just</span> Jobs.
            </div>
        </div>
    </div>
    <div class="row pTop-15">
        <div class="col-sm-12">
            <div class="jobLabel" ng-click="vm.NavigateTo('root.appLayout.createJob.postAJob')">POST A JOB: $100 for 35 days</div>
        </div>
    </div>

    <div class="row pTop-5">
        <div class="col-sm-12">
            <input ng-model="vm.searchText" type="text" class="form-control" placeholder="Search: ex. 'Node.js', 'javascript', Marketing ">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-red">
            <h2>PROGRAMMING JOBS </h2>

        </div>
        <div class="col-sm-12">
            <table class="table jobTable">
                <tbody>
                <tr ng-repeat="obj in vm.programming | filter:vm.searchText">
                    <td class="text-bold w20">{{obj.CompanyName}}</td>
                    <td class="w20">{{obj.JobTitle}}</td>
                    <td class="w20">{{obj.DatePosted}}</td>
                    <td class="border-white w20">{{obj.NewPost}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-red">
            <h2>Design</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-red">
            <h2>DEVOPS & SYSADMIN JOBS</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-red">
            <h2>CUSTOMER SUPPORT JOBS</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-red">
            <h2>COPYWRITING JOBS</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-red">
            <h2>MARKETING JOBS</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-red">
            <h2>BUSINESS/EXEC & MANAGEMENT JOBS</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-red">
            <h2>ALL OTHER JOBS</h2>
        </div>
    </div>






</div>




