<div class="jumbotron homeContainer">
    <h1><span class="text-bold">i<i style="color:white;" class="fa fa-heart"></i>RemoteWork</span></h1>

    <h1>Let us Find the Jobs</h1>

    <p>& <span class="text-bold">You</span> the perfect match.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div style="margin-bottom:20px; font-size:16pt;">
                <b>i<i style="color:#1aa3ff;" class="fa fa-heart"></i>RemoteWork</b> is the simpliest most efficient way of
                finding remote Jobs. <br/>Find the most qualified professionals from around the world!
                <br/><span class="text-bold">No</span> accounts. <span class="text-bold">No</span> hassle. <span class="text-bold">Just</span> Jobs.
            </div>
        </div>
    </div>
    <div class="row pTop-15">
        <div class="col-sm-12">
            <div class="jobLabel" ng-click="vm.NavigateTo('root.appLayout.createJob.postAJob')">POST A JOB: $100 for 35 days</div>
        </div>
    </div>

    <div class="row pTop-5">
        <div class="col-sm-12">
            <input ng-model="vm.searchText" type="text" class="form-control" placeholder="Search: ex. 'Node.js', 'javascript', Marketing ">
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <job-grid jobs="vm.programming" text="vm.searchText" title="'PROGRAMMING JOBS'" ></job-grid>
                </div>
            </div>
        </div>
    </div>

    <div class="row ptop-15">
        <div class="col-sm-12 text-red">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <job-grid jobs="vm.design" text="vm.searchText" title="'DESIGN JOBS'" ></job-grid>
                </div>
            </div>
        </div>
    </div>


    <div class="row ptop-15">
        <div class="col-sm-12 text-red">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <job-grid jobs="vm.devOpsSysadmin" text="vm.searchText" title="'DEVOPS & SYSADMIN JOBS'"></job-grid>
                </div>
            </div>
        </div>
    </div>


    <div class="row ptop-15">
        <div class="col-sm-12 text-red">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <job-grid jobs="vm.customerSupport" text="vm.searchText" title="'CUSTOMER SUPPORT JOBS'"></job-grid>
                </div>
            </div>
        </div>
    </div>

    <div class="row ptop-15">
        <div class="col-sm-12 text-red">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <job-grid jobs="vm.copyWriting" text="vm.searchText" title="'COPY WRITING JOBS'"></job-grid>
                </div>
            </div>
        </div>
    </div>


    <!--
    <div class="row ptop-15">
        <div class="col-sm-12 text-red">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <job-grid jobs="vm.design" text="vm.searchText" title="'MARKETING JOBS'"></job-grid>
                </div>
            </div>
        </div>
    </div>


    <div class="row ptop-15">
        <div class="col-sm-12 text-red">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <job-grid jobs="vm.design" text="vm.searchText" title="'BUSINESS/EXEC & MANAGEMENT JOBS'"></job-grid>
                </div>
            </div>
        </div>
    </div>


    <div class="row ptop-15">
        <div class="col-sm-12 text-red">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <job-grid jobs="vm.design" text="vm.searchText" title="'ALL OTHER JOBS'"></job-grid>
                </div>
            </div>
        </div>
    </div> -->

</div>




