<div class="row"><div class="col-sm-12 tableText">{{vm.title}}</div></div>

    <div ng-repeat="obj in vm.jobs | filter:vm.text" class="text" ng-click="vm.navigate(obj)">
        <div class="row horizontalRule visible-sm-block visible-md-block visible-lg-block">
            <div class="col-sm-2 text-bold">{{obj.companyName}}</div>
            <div class="col-sm-7 link textSmaller">
                {{obj.jobTitle}}
                <span ng-if="obj.isJobPostNew === true" class="label label-success text-size15">New</span>

            </div>
            <div class="col-sm-3">
                <span class="pull-right text-size15">{{obj.jobCreatedOn}}</span>
            </div>
        </div>
        <div class="row horizontalRule visible-xs-block">
            <div class="col-xs-12 text-bold">{{obj.companyName}}</div>
            <div class="col-xs-12 link">{{obj.jobTitle}}</div>
            <div class="col-xs-12 text-size15">{{obj.jobCreatedOn}}</div>
            <div ng-if="obj.isJobPostNew === true" style="margin-top: 5px" class="col-xs-12"><span style="font-size: 15px;" class="label label-success">New</span></div>
        </div>
    </div>

<!--<table class="table jobTable">
        <thead>
            <th colspan="4">
                <span class="tableText">{{vm.title}}sdfsdfdf</span>
            </th>
        </thead>

        <tbody>
        <tr ng-repeat="obj in vm.jobs | filter:vm.text" class="text">
            <td class="text-bold">{{obj.companyName}}</td>
            <td class="">{{obj.jobTitle}}</td>
            <td class="">{{obj.jobCreatedOn}}</td>
            <!--<td class="border-white">{{obj.isJobPostNew}}</td>
        <tr ng-repeat="obj in vm.jobs | filter:vm.text" class="text" ng-click="vm.navigate(obj)">
            <td class="text-bold">{{obj.CompanyName}}sdfsdfdsfsdfsdfsdfsdf</td>
            <td class="link">{{obj.JobTitle}}dfsdfsdfsdf</td>
            <td>{{obj.DatePosted}}</td>
            <td class="border-white"><span class="label label-success">New</span></td>
        </tr>
        </tbody>
    </table>
</div> -->