<div class="row"><div class="col-sm-12 tableText">{{vm.title}}</div></div>

    <div ng-repeat="obj in vm.jobs | filter:vm.text" class="text" ng-click="vm.navigate(obj)">
        <div class="row horizontalRule visible-sm-block visible-md-block visible-lg-block cursor-pointer" ng-class="{'feature': obj.feature}">
            <div class="col-sm-3 view-post-header cBlack"><h2>{{obj.companyName}}</h2></div>
            <div class="col-sm-7">
                <span class="link">{{obj.jobTitle}}</span>
                <span style="padding-left:12px;" ng-if="obj.isJobPostNew === true">
                  <label type="button" id="newButton">New</label>
<!--<span style="font-size: 15px;" class="label label-warning">NEW</span>-->
                </span>

            </div>
            <div class="col-sm-2">
                <span class="pull-right view-post-header"><h3>{{obj.jobCreatedOn}}</h3></span>
            </div>
        </div>
        <div class="row horizontalRule visible-xs-block" ng-class="{'feature': obj.feature}">
            <div class="col-xs-12 cBlack fSize25">{{obj.companyName}}</div>
            <div class="col-xs-12 link fSize25">{{obj.jobTitle}}</div>
            <div style="" class="col-xs-12 view-post-header fSize25">{{obj.jobCreatedOn}}</div>
            <div ng-if="obj.isJobPostNew === true" style="margin-top: 5px" class="col-xs-12">
              <label type="button" id="newButton">New</label>

            <!--<label type="button" style="font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: .25em">New</label>-->
          <!--  <span style="font-size: 16px;" class="label label-warning">NEW</span>-->
        </div>
    </div>

<!--<table class="table jobTable">
        <thead>
            <th colspan="4">
                <span class="tableText">{{vm.title}}sdfsdfdf</span>
            </th>
        </thead>

        <tbody>
        <tr ng-repeat="obj in vm.jobs | filter:vm.text" class="text">
            <td class="text-bold">{{obj.companyName}}</td>
            <td class="">{{obj.jobTitle}}</td>
            <td class="">{{obj.jobCreatedOn}}</td>
            <!--<td class="border-white">{{obj.isJobPostNew}}</td>
        <tr ng-repeat="obj in vm.jobs | filter:vm.text" class="text" ng-click="vm.navigate(obj)">
            <td class="text-bold">{{obj.CompanyName}}sdfsdfdsfsdfsdfsdfsdf</td>
            <td class="link">{{obj.JobTitle}}dfsdfsdfsdf</td>
            <td>{{obj.DatePosted}}</td>
            <td class="border-white"><span class="label label-success">New</span></td>
        </tr>
        </tbody>
    </table>
</div> -->