<div class="col-sm-12">

    <table class="table jobTable">
        <thead>
            <th colspan="4">
                <span class="tableText">{{vm.title}}</span>
            </th>
        </thead>

        <tbody>
        <tr ng-repeat="obj in vm.jobs | filter:vm.text" class="text">
            <td class="text-bold">{{obj.companyName}}</td>
            <td class="">{{obj.jobTitle}}</td>
            <td class="">{{obj.jobCreatedOn}}</td>
            <!--<td class="border-white">{{obj.isJobPostNew}}</td>-->
        </tr>
        </tbody>
    </table>
</div>