<div class="jumbotron homeContainer">
    <h1><span>i<i class="fa fa-heart text-white"></i>RemoteWork</span></h1>
</div>

<div class="container bottomSpace">
    <div class="row">
        <div class="col-sm-8 link cursor-pointer fSize25" ng-click="vm.Navigate('root.home')">
            <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back to all jobs
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 view-post-header">
            <h1>
                {{vm.jobView.jobtitle}}
            </h1>
            <h3>POSTED {{vm.jobView.jobcreatedon}}</h3>
            <h2>
                <span> {{vm.jobView.companyname}}</span>
                <br />
                <span>Headquarters: {{vm.jobView.companylocation}}</span>
                <br />
                <a ng-href="{{vm.jobView.companyurl}}" target="_blank">{{vm.jobView.companyurl}}</a>
            </h2>
        </div>
        <div class="col-sm-4">
            <div class="view-job-companylogo">
                <img ng-src="{{vm.jobView.companylogo}}" />
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-sm-8 col-xs-12">
            <div class="apply mBottom20">
                <div ng-bind-html="vm.jobView.jobdescription"></div>
            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    <a style="font-weight: bold ;" ng-href="{{vm.mailUrl}}">Share with a friend</a>
                </li>

                <li class="list-group-item">
                    <i class="fa fa-twitter fa-2x text-blue" aria-hidden="true"></i>
                    <a target="_blank" style="font-weight: bold ;" ng-href="{{vm.twitterTweetUrl}}">You can tweet this job</a>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-linkedin-square fa-2x linkedinColor" aria-hidden="true"></i>
                    <a target="_blank" style="font-weight: bold;" ng-href="{{vm.linkedinUrl}}">Post on Linkedin</a>
                </li>

            </ul>

            <div class="smallLink mBottom20 cursor-pointer" ng-click="vm.Navigate('root.appLayout.contact')">
                Let us know if this job does not meet the professional standards of IHeartRemote.
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="apply">
                <span class="text-bold">APPLY FOR THIS POSITION</span>
                <br/>
                <div class="word-wrap" ng-bind-html="vm.jobView.howtoapply"></div>
            </div>
        </div>
    </div>

    <div class="mBottom20"></div>
</div>
