<div class="jumbotron homeContainer" ng-click="vm.Go('root.home');">
  <h1><span>i<i class="fa fa-heart text-white"></i>RemoteWork</span></h1>
  <h1>Get to know Us!</h1>
</div>
<div class="container">
    <div class="nice-text-style">
        <div class="text-center">
            <p>A little about us.</p>
            <hr class="hrStyle">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img class="picture-style" src="/toothbrush/Content/images/modernOffice.jpg" alt="modern office">
        </div>
        <div class="col-md-4">
            <p class="get-to-know-us-text-side">
                At i<i class="fa fa-heart blue-heart"></i>RemoteWork our main priority is creating an experience like no other.
                It is where developers and other talented folks find awesome Remote Jobs on the Go.
                Job Seekers can easily dive into their job search with <b>NO</b> sort of restrictions & without being forced to
                create an account that takes time away from finding their dream job. We all know the feeling of having to go to work
                and hating every part of it. Join our movement and let us know how much you love working remote on twitter using <a target="_blank" href="https://twitter.com/iheartremotewk">#iHeartRemoteWork</a>
                Remember: <b>No</b> Accounts. <b>No</b> Hassle. <b>Just</b> Jobs.
            </p>
        </div>
    </div>
    <div class="border row spacing">
        <div class="border col-md-12">
            <p class="get-to-know-us-text">
            We only work for YOU, Job Seekers and Businesses are our main focus. We do what others can't. Offer an exceptionally fast service with unbeatable simplicity.
            So whether you're a Job Seeker or a Business trying to find top talent,
            you can integrate <a ng-click="vm.Go('root.home');">i<i class="fa fa-heart blue-heart"></i>RemoteWork.com</a> into your
            daily lives to find, explore, and create possibilities in a way that works best for you.
            </p>
        </div>
    </div><!--.row-->
    <div class="nice-text-style-centered">
        P.S<br>
        <small style="font-size: 20px;">This site was created using remote developers found on this very site ;)</small>
    </div>
</div>
