<div class="row mBottom10">
    <div class="col-sm-12">
        <div class="apply">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Tell us about the position:</h2>
                </div>
            </div>
            <div ng-show="vm.postForm.$invalid && vm.submitted || (vm.IsNullOrEmpty(vm.newJobPosting.JobDescription) && vm.submitted)" class="row">
                <div class="col-sm-12">
                    <div class="errorMessage">
                        <i class="fa fa-exclamation-circle"></i>
                        Some fields are incorrect
                        <span ng-if="vm.IsNullOrEmpty(vm.newJobPosting.JobDescription)"> (Fill in the Job Description)</span>
                    </div>
                </div>
            </div>
            <div class="text" style="width: 100%; word-wrap: break-word"><h2>{{vm.newJobPosting.JobTitle}}</h2></div>
            <hr />

            <form name="vm.postForm" id="postForm" novalidate>
                <div class="row"> <!--Start of Row-->

                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : vm.postForm.jobTitle.$invalid && !vm.postForm.jobTitle.$pristine || (vm.submitted && vm.postForm.jobTitle.$invalid) }">
                            <label class="text">Job Title:</label>
                            <input class="form-control" type="text" name="jobTitle" ng-model="vm.newJobPosting.JobTitle" required placeholder="Ex: Full Stack Developer" />
                            <!--<p ng-show="vm.postForm.jobTitle.$invalid && !vm.postForm.jobTitle.$pristine || (vm.submitted && vm.postForm.jobTitle.$invalid)" class="help-block">Job Title is required.</p> -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : vm.postForm.cate.$invalid && !vm.postForm.cate.$pristine || (vm.submitted && vm.newJobPosting.CategoryID === undefined) }">
                            <label class="text" >Category:</label><br />
                            <select
                                    class="form-control"
                                    name="cate"
                                    ng-model="vm.newJobPosting.CategoryID"
                                    ng-options="cat.categoryid as cat.name for cat in vm.categories">
                            </select>
                            <!-- <p ng-show="vm.postForm.cate.$invalid && !vm.postForm.cate.$pristine || (vm.submitted && vm.postForm.cate.$invalid)" class="help-block">Select a Category.</p> -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : vm.postForm.cName.$invalid && !vm.postForm.cName.$pristine || (vm.submitted && vm.postForm.cName.$invalid) }">
                            <label class="text">Company Name:</label>
                            <input class="form-control" type="text" name="cName" ng-model="vm.newJobPosting.CompanyName" required placeholder="Ex: ProGress, LLC" />
                            <!--  <p ng-show="vm.postForm.cName.$invalid && !vm.postForm.cName.$pristine || (vm.submitted && vm.postForm.cName.$invalid)" class="help-block">Company Name is required.</p> -->
                        </div>
                    </div>
                    <br />

                    <div class="col-md-12"> 
                        <label>Job Description:</label> <br/> 
                        <div class="error" text-angular ta-toolbar="[['bold','underline','italics','justifyLeft','justifyCenter', 'justifyRight', 'justifyFull','h1','h2','h3','h4','undo','redo','p','pre','ul','ol','insertLink']]"
                             ng-model="vm.newJobPosting.JobDescription"></div>
                    </div>  
                </div> <!-- End of Row -->

                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <div class="fSize30">Tell us more about: <span class="word-wrap text fSize30">{{vm.newJobPosting.CompanyName}}</span></div>
                    </div>

                </div>

                <hr />

                <div class="row"> <!--Start of 2nd Row-->

                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : vm.postForm.CompanyLocation.$invalid && !vm.postForm.CompanyLocation.$pristine || (vm.submitted && vm.postForm.CompanyLocation.$invalid)}">
                            <label class="text">Where are you located:</label>
                            <input class="form-control" type="text" name="CompanyLocation" ng-model="vm.newJobPosting.CompanyLocation" required placeholder="Ex: Orlando, FL" />
                            <!-- <p ng-show="vm.postForm.CompanyLocation.$invalid && !vm.postForm.CompanyLocation.$pristine || (vm.submitted && vm.postForm.CompanyLocation.$invalid)" class="help-block">Company Location is required.</p> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : vm.postForm.CompanyUrl.$invalid && !vm.postForm.CompanyUrl.$pristine || (vm.submitted && vm.postForm.CompanyUrl.$invalid) }">
                            <label class="text">{{vm.newJobPosting.CompanyName}} Url:</label>
                            <input class="form-control" type="text" name="CompanyUrl" ng-model="vm.newJobPosting.CompanyUrl" required placeholder="Ex: www.yourBusiness.com" />
                            <!-- <p ng-show="vm.postForm.CompanyUrl.$invalid && !vm.postForm.CompanyUrl.$pristine || (vm.submitted && vm.postForm.CompanyUrl.$invalid)" class="help-block">Company Url is required.</p> -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : vm.postForm.CompanyEmail.$invalid && !vm.postForm.CompanyEmail.$pristine || (vm.submitted && vm.postForm.CompanyEmail.$invalid) }">
                            <label class="text">{{vm.newJobPosting.CompanyName}} Email:</label>
                            <input class="form-control" type="email" name="CompanyEmail" ng-model="vm.newJobPosting.CompanyEmail" required placeholder="Ex: your@CompanyEmail.com" />
                            <!-- <p ng-show="vm.postForm.CompanyEmail.$invalid && !vm.postForm.CompanyEmail.$pristine || (vm.submitted && vm.postForm.CompanyEmail.$invalid)" class="help-block">Company Email is required.</p> -->
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="text">Logo:</label>
                            <input type="file" id="companylogo_input"/>

                            <br />

                            <div class="post-job-companylogo">
                                <img id="preview" ng-src="{{vm.newJobPosting.CompanyLogo}}" />
                                <p class="text" style="padding-left:18px;">190px wide is optimal</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group" ng-class="{'has-error' : vm.postForm.howApply.$invalid && !vm.postForm.howApply.$pristine || (vm.submitted && vm.postForm.howApply.$invalid) }">
                            <label class="text">How do job seekers apply to your {{vm.newJobPosting.JobTitle}} position.</label>
                            <textarea type="text" name="howApply" ng-model="vm.newJobPosting.Apply" placeholder="Ex: Send your resume to james@company.com or Visit www.company.com/careers/apply " class="form-control" rows="3" required></textarea>
                            <!--    <p ng-show="vm.postForm.howApply.$invalid && !vm.postForm.howApply.$pristine  || (vm.submitted && vm.postForm.howApply.$invalid)" class="help-block">Telling job seekers how to apply is required.</p> -->
                        </div>
                    </div>
                </div><!-- End of 2nd Row -->

                <div class="row">
                    <div class="col-sm-12 text-red">
                        <h3>Improve the visibility of your Job Post!</h3>
                    </div>
                    <div class="col-lg-12 col-sm-10 col-xs-12 fSize18">
                        <div>
                            For only <span class="text-bold">$25 more</span> you can highlight your job post.
                            A higlighted job post has a yellow background and
                            a featured label.
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="checkbox fSize18">
                            <label>
                                <input type="checkbox" value="" ng-model="vm.newJobPosting.isFeatured">
                                <span class="text-bold">Yes, Feature my Job Post!</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-lg btn-primary pull-right" type="button" ng-click="vm.PostJob()">Next &raquo</button>
                    </div>
                </div>

            </form><!-- End of PostForm -->
        </div>
    </div>
</div>
<div class="mBottom60"></div>