/* numbered buttons */

body {
   /*background-color: #f2f2f2;*/
   background-color:#fff;
}

img {border:none;}

#newButton{
  line-height:1;
  font-size:15px;
  margin-left:1px;
  width:50px;
  text-align:center;
  color:orange;
  padding:.2em .6em .3em;
  border-style:solid;
  border-color:orange;
  border-width:1px;
  border-radius:.25em;
}

#status-buttons a
{
    color:black;
    display:inline-block;
    font-size:12px;
    margin-right:10px;
    text-align:center;
    text-transform:uppercase;
}

/* we will style the span as the circled number */
#status-buttons span
{
    background:#f2f2f2;
    display:block;
    height:30px;
    margin:0 auto 10px;
    padding-top:5px;
    width:30px;
    border-radius:50%;
}

/* active buttons turn light green-blue*/
#status-buttons a.active span
{
    color:white;
    background:#00BC8C;
}

#status-buttons .blueActive {
    color:white;
    background:#00BC8C !important;
}


.pTop-15 {
    padding-top: 15px;
}

.pTop-10 {
    padding-top: 10px;
}

.pTop-5 {
    padding-top: 5px;
}

.pBottom-5 {
    padding-bottom: 5px;
}

.textColor {
    color:#5bc0de;
}

.blueTextColor {
    color: #1aa3ff !important;
}

.errorMessage {
    width: 100%;
    border: 1px solid red ;
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 5px 3px 5px 10px;
}

.text-bold {
    font-weight: bold;
    color: black !important;
}

.homeContainer {
    background-color: #00bfff;
    color: white;
    text-align: center;
}

.jobLabel {
    background-color: #00bfff;
    width: 100%;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.jobLabel:hover {
    color: #f2f2f2;
}

.text-red {
    color: #990000;
}

.text-white {
    color: white;
}

.text-blue {
    color: #00bfff;
}

.cBlack
{
    color: black;
}

.text-center {
    text-align: center;
}

.jobTable {
    cursor: pointer
}


.jobTable td.border-white {
    border: white;
}

.jobTable td.link {
    text-decoration: underline;
    color: #1aa3ff;
}

.link {
    text-decoration: underline;
    color: #1aa3ff;
    font-size: 20px;
   /* -webkit-tap-highlight-color: #a3daff; */
}

.link.textSmaller {
    font-size: 17px;
}

.link:active {
    background-color: #a3daff;
}

.smallLink{
    text-decoration: underline;
    color: #1aa3ff;
    font-size: 16px;
    -webkit-tap-highlight-color: #a3daff;
}

.smallLink:active {
    background-color:#a3daff;
}


.cursor-pointer {
    cursor: pointer;
}


.jobTable td.border-top-white {
    border-top: white;
}

.w20 {
    width: 20%;
}

.jobContainer {
    background-color: white !important;
    width: 100%;
    padding: 15%;
    margin-bottom: 10%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
    box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);

}

.displayJobs {
    margin-left: 25px;
    margin-right: 25px;

    background-color: white !important;
    -moz-box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
    box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.simple {
    background-color: white;
}


.text {
    color: rgba(0,0,0,.54);
    font-size: 13px;
    overflow: hidden;
    width: 100%;
    -webkit-tap-highlight-color: #a3daff;
}

.text:active {
    background-color:#a3daff;
}

.tableText {
    color: #990000;
    font-size: 25px;
    overflow: hidden;
    width: 90%;
}


.form-control {
    height: 50px !important;
}

.panel-body {
    background-color: white !important;
    -moz-box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
    box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.panel-heading {
    -moz-box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
    box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
}


.apply {
    background-color: white !important;
    width: 100%;
    padding: 10px;
    -moz-box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);
    box-shadow: .5px 2px 3px 2px rgba(0, 0, 0, 0.3);

}

.bottomSpace {
    margin-bottom: 50px;
}

.mBottom10 {
    margin-bottom: 20px;
}
.mBottom20 {
    margin-bottom: 20px;
}

.mBottom40 {
    margin-bottom: 40px;
}

.mBottom60 {
    margin-bottom: 60px;
}


.mLeft10 {
    margin-left: 10px;
}

.horizontalRule {
    border-style: solid;
    border-top-color: white;
    border-right-color: white;
    border-left-color: white;
    border-bottom-color: #ccc;
    border-width: 1px;
    padding: 5px;
}

.bColor-yellow {
    background-color: yellow;
}

.text-size15 {
    font-size: 15px;
}

.fSize18 {
    font-size: 18px;
}

.linkedinColor {
    color:#287bbc;
}


.post-job-companylogo img {
    max-width: 190px;
    max-height: 120px;
}

.view-job-companylogo img {
    max-width: 190px;
    max-height: 120px;
}

.w750 {
    width: 750px;
}

.view-post-header h3 {
    font-size: 1.3rem;
    color: #888;
    margin: 0 0 20px 0;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.view-post-header h2 {
    font-size: 1.9rem;
    padding: 0 0 10px 0;
    margin: 0;
    line-height: 1.4em;
}

.word-wrap {
    word-wrap: break-word;
}

.fSize25 {
    font-size: 25px;
}

.feature {
    background-color:#ffc;
}


.contact-box {
    width:100%;
    height:150px;
    border:1px #f9f9f9 solid;
    border-radius:4px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,.35);
}

.contact-box .text {
    text-align: center;
    padding-top:15px;
    color:#65737e;
}

.contact-us {
    position:relative;
    top:8px;
    right:8px;
    float:right;
    color:#ffffff;
    width:110px;
    border:1px solid #ffffff;
    border-radius:4px;
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
}

@media (max-width:767px) {
    .contact-us {
        width:85px;
        padding-left:10px;
    }

    .contact-us h4 {
        font-size:12px;
    }
}